body{
    padding: 100px;
}

.submit-area{
    padding: 40px;
    margin-top: 60px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}

#transaction-area{ 
    margin-top: 30px;
    display: none;
}

.status{
    border-radius: 15px;
    margin-top: 20px;
    padding: 25px;
    color: white;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
